* {
    margin: 0;
    padding: 0;
}

body{
    width: 100dvw;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#renderer{
    width: 400px;
    height: 400px;

    background-color: black;
}